@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.content{
display: flex;
flex: 1;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 100px;
}

img {
 
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
  flex: 1;

}

a{
  text-decoration: none;
  color: gray;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  gap: 16px;
}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eee;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
